<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona Virus infection Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="styles11.css">


</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Corona Infection Prediction</a>
            </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container">



        <form action="\predict" method="post">


            <!-- <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Test date</h5>
                            <!--Date tested-->
                            <!-- <input type="datetime.local" name="test_date" id="test_date" required="required">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>

            <br>
            <br>
            <br>
             --> 
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Fill in Symptoms illustration-->
                            <h5 class="card-title">For the Symptoms indicate one for Yes or zero for No</h5>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>


            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Symptoms-->
                            <h5 class="card-title">Are you  coughing</h5>
                            <select name="cough" id="cough" required="required">
                                <option value="Yes">1</option>
                                <option value="No">0</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Symptoms-->
                            <h5 class="card-title">Do you have fever</h5>
                            <select name="fever" id="fever" required="required">
                                <option value="Yes">1</option>
                                <option value="No">0</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Symptoms-->
                            <h5 class="card-title">Is your throat sore</h5>
                            <select name="sore_throat" id="sore_throat" required="required">
                                <option value="Yes">1</option>
                                <option value="No">0</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Symptoms-->
                            <h5 class="card-title">Are you experiencing head aches</h5>
                            <select name="head_ache" id="head_ache" required="required">
                                <option value="Yes">1</option>
                                <option value="No">0</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Symptoms-->
                            <h5 class="card-title">Experiencing shortneess of breath</h5>
                            <select name="shortness_of_breath" id="shortness_of_breath" required="required">
                                <option value="Yes">1</option>
                                <option value="No">0</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Gender</h5>
                            <!-- Your gender -->
                            <select name="gender" required="required">
                                <option value="female">female</option>
                                <option value="male">male</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Are you above the age of 60</h5>
                            <!-- Are you aged above 60 -->
                            <select name="age_60_and_above" id="age_60_and_above" required="required">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Test Indication</h5>
                            <!-- Have you been exposed to anyone who has covid or covid prone environment  -->
                            <select name="test_indication" id="test_indication" required="required">
                                <option value="Contact with confirmed">Contact with confirmed</option>
                                <option value="Abroad">Abroad</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            <br>
            <br>
            <br>
            <!-- Submit -->
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>

        <br>
        <br>
        <h3>{{ prediction_text }}</h3>

        <br>
        <br>
        <p>©2020 Amar Mandal</p>

    </div>




    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>